h1{
    font-size: 40px;
}

.btn-success:hover{
    background-color: grey;
}

.text-info:hover{
color: white;
}

.btn-success{
    font-size: 30px;
}

canvas{
    animation-name: Night;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes Night{
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px #ffffff}
    
}